@import "../../variables";

.service-single {
  margin: 10em 0;
  .ss-container {
    .ss-img {
      position: relative !important;
      width: 100% !important;
      border-radius: 4px;
    }
    .ss-box__info {
      width: 70%;
      margin: 0 auto;
      margin-top: 4em;
      .ss-box__title {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 1em;
        color: $text-bold-color;
      }
      .ss-box__text {
        line-height: 1.4;
        color: $black-color;
        margin-bottom: 1em;
      }
      .ss-box__img {
        display: flex;
        align-items: center;
        gap: 2em;
        margin-top: 1em;
        .box-img {
          &__img {
            position: relative !important;
            object-fit: fill;
            border-radius: 1em;
          }
        }
        .box-content {
          &__title {
            font-size: 1.5em;
            color: $text-bold-color;
            font-weight: bold;
            margin-bottom: 0.5em;
          }
          &__text {
            color: $black-color;
            line-height: 1.2;
          }
        }
      }
      .ss-box__sub-title {
        margin-top: 3em;
        font-size: 2em;
        color: $text-bold-color;
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .ss-box-quantity {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4em;
        .quantity-box {
          display: flex;
          align-items: center;
          gap: 1em;
          .number {
            color: #fff;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $green-leaf-color;
            font-weight: bold;
            font-size: 1.2em;
          }
          .text {
            color: $text-bold-color;
            font-weight: bold;
            font-size: 1.2em;
            opacity: 0.9;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .ss-container {
      .ss-box__info {
        width: 100%;
        .ss-box-quantity {
          gap: 1em
        }
      }
      
    }
  }
}
