@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Yellowtail&display=swap');
@import '../variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none !important;
}
.btn {
  color: $text-bold-color;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.bkg-yellow {
  background-color: $orange-mix-yellow-color;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
