ol,
ul {
  list-style: none;
  text-decoration: none;
}
@import '../../variables';

.header {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    .header-menu-mobile {
      display: none;
    }
    .header-logo {
      display: flex;
      align-items: center;
      &-name {
        font-size: 2.2em;
        font-weight: bold;
        color: $text-bold-color;
        font-family: 'Roboto', sans-serif;
        padding-left: 4px;
        margin-bottom: 0;
      }
    }
    .header-menu-list {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      gap: 1em;
      .header-menu-item {
        .header-menu-item-link {
          color: $text-bold-color;
          display: block;
          padding: 0.5em;
          font-weight: 600;
          font-size: 1.2em;
          &.active {
            color: $green-leaf-color;
          }
          &:hover {
            color: $green-leaf-color;
            transition: all 0.2s linear;
            text-decoration: none;
          }
        }
      }
    }
    .header-box-cart {
      position: relative;
      display: flex;
      align-items: center;
      .icon-box {
        margin-right: 1em;
        cursor: pointer;
        .icon-box-search {
          background-color: $green-leaf-color;
          color: $white-color;
          padding: 1em;
          border-radius: 50%;
          line-height: 1;
        }
      }
      .cart-box {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid $white-mix-gray-color;
        padding: 6px;
        border-radius: 3em;
        .cart-box-icon {
          background-color: $text-bold-color;
          color: $white-color;
          padding: 1em;
          border-radius: 50%;
        }
        .cart-box-number {
          margin: 0 6px;
          color: $text-bold-color;
          font-size: 1.2em;
        }
      }
      .btn-login {
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 10px;
        outline: none;
        background-color: $green-leaf-color;
        color: $white-color;
        border: none;
        border-radius: 10px;
        opacity: 0.9;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          opacity: 1;
        }
      }
      .avatar-box {
        margin-left: 10px;
        position: relative;
        transition: all 0.2s linear;
        &:hover .avatar-menu {
          display: block;
        }
        .avatar-menu {
          z-index: 1;
          animation: fadeIn 0.3s;
          animation-timing-function: ease-in-out;
          display: none;
          color: $white-color;
          background-color: $green-leaf-color;
          width: max-content;
          position: absolute;
          top: 100%;
          right: 0;
          border-radius: 4px;
          .item {
            cursor: pointer;
            word-wrap: none;
            padding: 10px;
            transition: all 0.2s linear;
            &:hover {
              background-color: $white-color;
              color: $text-bold-color;
              &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1280px) {
    .header-container {
      padding: 2em 0;
      .header-menu-list {
        .header-menu-item {
          .header-menu-item-link {
            font-size: 1em;
            padding: 0.5em;
          }
        }
      }
      .header-box-cart {
        .icon-box {
          margin-right: 0.5em;
          i {
            padding: 0.5em;
          }
        }
        .cart-box {
          i {
            padding: 0.5em;
          }
          .cart-box-number {
            font-size: 1em;
          }
        }
      }
    }
  }

  //tablet
  @media screen and (max-width: 1023.98px) {
    .header-container {
      padding: 2em 0;
      .header-logo {
        .logo-img {
          width: 1.8em;
        }
        &-name {
          font-size: 1.4em;
        }
      }
      .header-menu-list {
        gap: 0.2em;
        .header-menu-item {
          margin-right: 0.2em;
          .header-menu-item-link {
            font-size: 0.9em;
            padding: 0.2em;
          }
        }
      }
      .header-box-cart {
        .icon-box {
          margin-right: 0.5em;
          .icon-box-search {
            padding: 0.5em;
          }
        }
        .cart-box {
          .cart-box-icon {
            padding: 0.5em;
          }
          .cart-box-number {
            font-size: 1em;
          }
        }
        .btn-login {
          margin-left: 4px;
          padding: 8px 14px;
        }
      }
    }
  }
  //mobile
  @media screen and (max-width: 768px) {
    .header-container {
      padding: 1em 0;
      .header-logo {
        .logo-img {
          width: 2em;
        }
        &-name {
          font-size: 1.5em;
        }
      }
      .header-menu-mobile {
        display: block;
        font-size: 1.5em;
        order: 2;
      }
      .header-menu-list {
        display: none;
      }
      .header-box-cart {
        order: 1;
        margin-left: auto;
        margin-right: 20px;
        .icon-box {
          display: none;
        }
        .cart-box {
          display: flex;
        }
        .btn-login {
          display: none;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
