@import "../../variables";

.single-product {
  margin: 5em 0;
  .product-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
    .img-box-product {
      width: 50%;
      position: relative;
      p {
        font-size: 0.8em;
        color: #fff;
        background-color: $text-bold-color;
        position: absolute;
        padding: 0.5em;
        border-radius: 0.5em;
        top: 5%;
        left: 2%;
      }
      &__img {
        position: relative !important;
        width: 100% !important;
      }
      .product-sold-out{
        position: absolute;
        padding: 0.8em 1.4em;
        background-color: red;
        color: #fff;
        top: 0;
        right: 0;
        border-radius: 4px;
        transform: rotate(35deg);
      }
    }
    .product-info {
      width: 50%;
      .product-name {
        font-size: 2.5em;
        font-weight: 500;
        color: $text-bold-color;
      }
      .rating-box {
        display: flex;
        align-items: center;
        gap: 0.2em;
        color: $orange-mix-yellow-color;
        margin: 1em 0;
      }
      .product-price {
        display: flex;
        align-items: center;
        color: $text-bold-color;
        font-weight: 500;
        margin-bottom: 1em;
        font-size: 1.5em;
        span {
          display: block;
          color: #b8b8b8;
          font-size: 0.8em;
          margin-right: 0.5em;
        }
      }
      .product-quantity {
        font-size: 1.1em;
        font-weight:  bold;
        color: $black-color;
        span {
          color: $green-leaf-color;
        }
      }
      .product-info-text {
        font-size: 1.1em;
        color: #525c60;
        line-height: 1.4;
        margin-bottom: 2em;
      }
      .product-category{
        font-size: 0.6em;
        padding: 0.4em;
        color: $white-mix-gray-color;
        background-color: $green-leaf-color;
        font-weight: bold;
        width: max-content;
        margin-bottom: 0.5em;
        border-radius: 4px;
      }
      .box-quantity {
        display: flex;
        align-items: center;
        gap: 2em;
        p {
          color: $text-bold-color;
          font-weight: bold;
        }
        input {
          width: 7em;
          padding: 1em;
          border: 2px solid $text-bold-color;
          outline: none;
          border-radius: 1.2em;
          text-align: center;
        }
        .btn-add-cart {
          font-weight: bold;
          background-color: $text-bold-color;
          color: #fff;
          padding: 1em 3em;
          border-radius: 0.8em;
          cursor: pointer;
          &.sold-out{
            background-color: #b8b8b8;
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;
            transition: all 0.3s ease;
            
          }
        }
      }
    }
  }
  .product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
    .product-desc {
      font-size: 1.2em;
      background-color: $text-bold-color;
      color: #fff;
      padding: 1em 2em;
      border-radius: 0.5em;
    }
    .product-addition {
      font-size: 1.2em;
      color: $text-bold-color;
      background-color: #eff6f1;
      padding: 1em 2em;
      border-radius: 0.5em;
    }
  }
  .detail {
    text-align: center;
    width: 80%;
    line-height: 1.4;
    color: #525c60;
    margin: auto;
  } //tablet
  @media screen and (max-width: 1023.98px) {
    .product-container {
      .product-info {
        .box-quantity {
          input {
            width: 6em;
            padding: 1.2em;
          }
          .btn-add-cart {
            font-size: 1.2em;
            padding: 1em 2em;
          }
        }
      }
    }
  }
  @media screen and (max-width: 999.98px) {
    .product-container {
      .product-info {
        .box-quantity {
          .btn-add-cart {
            font-size: 0.9em;
            padding: 0.8em 1.6em;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .product-container {
      flex-direction: column;
      .img-box-product {
        width: 100%;
      }
      .product-info {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 374.98px) {
    .product-container {
      .product-info {
        .box-quantity {
          gap: 1em;
          .btn-add-cart {
            font-size: 1em;
          }
        }
      }
    }
    .product-detail {
      gap: 1em;
      .product-desc,.product-addition{
        font-size: 1em;
      }
    }
    .detail {
      width: 100%;
    }
  }
}
