@import '../../variables';

.my-account {
  margin: 40px 0;
  .my-account-container {
    .box {
      margin: auto;
      background-color: $green-leaf-color;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .box__title {
        font-size: 24px;
        font-weight: 500;
        color: $white-mix-gray-color;
      }
      .title {
        color: $text-bold-color;
      }
      .input-box {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        input {
          width: 100%;
          border: 1px solid $text-bold-color;
          background-color: $text-bold-color;
          color: $white-color;
          outline: none;
          padding: 10px;
          border-radius: 10px;
          &::placeholder {
            color: #b2bec3;
          }
        }
        label {
          color: $text-bold-color;
          margin-bottom: 4px;
          font-weight: 400;
        }
      }
      .btn-update {
        width: 100%;
        background-color: $text-bold-color;
        color: $white-color;
        outline: none;
        border-radius: 10px;
        padding: 20px 0;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.5s ease;
        border: 1px solid $text-bold-color;
        margin-top: 20px;
        &:hover {
          background-color: white;
          color: $text-bold-color;
          border: 1px solid $text-bold-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .my-account {
    .my-account-container {
      .box {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .my-account {
    .my-account-container {
      .box {
        width: 90%;
      }
    }
  }
}
