@import '../../variables';

.video {
  background-image: url('/assets/img/video.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
  height: 67em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  &-title {
    font-size: 2em;
    margin-bottom: 1em;
    color: $green-leaf-color;
    margin-top: 8em;
  }
  &-sub-title {
    font-size: 3em;
    font-weight: bold;
    color: $text-bold-color;
    margin-bottom: 1em;
  }
  &-text {
    color: $black-color;
    width: 40%;
    line-height: 1.4;
    margin-bottom: 2em;
  }
  .icon-play {
    padding: 2em 2.2em;
    border-radius: 50%;
    background-color: $green-leaf-color;
    color: #fff;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    &-title {
      font-size: 1.8em;
    }
    &-sub-title {
      font-size: 2em;
    }
    &-text {
      width: 80%;
    }
  }
}
