@import "../../variables";

.footer {
  margin-top: 10em;
  margin-bottom: 5em;
  .footer-container {
    display: flex;
    justify-content: center;
    .footer-contact {
      text-align: right;
      .footer-title {
        font-size: 2em;
        color: $text-bold-color;
        font-weight: bold;
        margin-bottom: 1.5em;
      }
      .footer-sub-title {
        font-size: 1.2em;
        color: $text-bold-color;
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .footer-text {
        margin-bottom: 1em;
      }
    }
    .footer-mid {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        p {
          margin-left: 0.2em;
          font-size: 1.5em;
          font-weight: bold;
          color: $text-bold-color;
        }
      }
      .footer-mid-text {
        width: 70%;
        line-height: 1.4;
        color: $text-bold-color;
        margin-bottom: 2em;
      }
      .footer-icon {
        display: flex;
        align-items: center;
        .icon-circle-box {
          margin: 0 1em;
          padding: 1em;
          background-color: #eff6f1;
          font-size: 1em;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
    .footer-page {
      .footer-title {
        font-size: 2em;
        color: $text-bold-color;
        font-weight: bold;
        margin-bottom: 1.5em;
      }
      .footer-page-name {
        font-size: 1.2em;
        color: $text-bold-color;
        margin-bottom: 1em;
      }
    }
  }
} //tablet
@media screen and (max-width: 1023.98px) {
  .footer {
    .footer-container {
      .footer-contact {
        .footer-title {
          font-size: 1.8em;
        }
      }
      .footer-mid {
        .logo-footer {
          p {
            font-size: 1.2em;
          }
        }
        .footer-icon {
          i {
            margin: 0 0.5em;
          }
        }
      }
      .footer-page {
        .footer-title {
          font-size: 1.8em;
        }
        .footer-page-name {
          font-size: 1em;
        }
      }
    }
  }
}
//mobile
@media screen and (max-width: 768px) {
  .footer {
    .footer-container {
      flex-direction: column;
      .footer-mid {
        margin: 1.5em 0;
      }
    }
  }
}