.toast-error {
  background-color: #f44336 !important;
  color: #fff !important;
}
.toast-success {
  background-color: #27ae60 !important;
  color: #fff !important;
}
.toast-warning {
  background-color: #f1c40f !important;
  color: #fff !important;
}
.toast-info {
  background-color: #3498db !important;
  color: #fff !important;
}
